{% extends 'template/base.html' %}
{% load blog_tags %}
{% load mptt_tags %}
{% block main %}
    <div class="blog-post">
        <h4 class="blog-post-title"><a href="{% url 'blog:post' blogs.pk %}">{{ blogs.blog_title }}</a></h4>

        <p class="blog-post-meta">{{ blogs.created_time|date:"Y-m-d H:i:s" }}<a
                href="{% url 'blog:user' blogs.author.pk %}">{{ blogs.author }}</a></p>

        <p class="blog-post-content">{{ blogs.blog_content|safe }}</p>

        <div class="top-gap clearfix" style="margin: 20px">
            {% if previous_post %}
                <a href="{{ previous_post.get_absolute_url }}">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    {{ previous_post }}
                </a>
            {% endif %}
            {% if next_post %}
                <a class="float-right" href="{{ next_post.get_absolute_url }}" style="float: right;margin-right: 20px">
                    {{ next_post }}
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        <hr>
    </div>
    <h4>评论专区</h4>
    {% if blogs.comments_set.all %}
        <span>总共{{ blogs.comments_set.all.count }}评论</span>
        {% get_nodes as nodes %}
        {% recursetree nodes %}
            {% if node.post == blogs %}
            <li>
                {% if node.is_leaf_node %}
                    <div class="post-comment" style="height: 80px;width: 100%" id="{{ node.id }}">
                        <div class="post-comment-left"
                             style="width: 60px;height: 60px;margin: 0;padding: 0;display: inline-block">
                            <img src="/upload/{{ node.name.user_icon }}" style="width: 60px;height: 60px">
                        </div>
                        <div class="post-comment-right"
                             style="font-size: 14px;display: inline-block;line-height: 14px;font-size: 14px">
                            <span><a href="#">{{ node.name }}</a></span>
                        <span class="post-comment-title" style="display:block"><a
                                href="#">{{ node.text|safe }}</a></span>
                            <span class="post-comment-title"><a href="#">{{ node.created_time }}</a></span>
                        </div>
                    </div>
                    <hr>
                {% else %}
                    <div class="post-comment" style="height: 80px;width: 100%" id="{{ node.id }}">
                        <div class="post-comment-left"
                             style="width: 60px;height: 60px;margin: 0;padding: 0;display: inline-block;position: relative">
                            <img src="/upload/{{ node.name.user_icon }}" style="width: 60px;height: 60px">
                        </div>
                        <div class="post-comment-right"
                             style="font-size: 14px;display: inline-block;line-height: 14px;font-size: 14px">
                            <span><a href="#">{{ node.name }}</a></span>
                        <span class="post-comment-title" style="display:block"><a
                                href="#">{{ node.text|safe }}</a></span>
                            <span class="post-comment-title"><a href="#">{{ node.created_time }}</a></span>
                        </div>
                    </div>
                    <hr>
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
            {% endif %}
        {% endrecursetree %}
    {% else %}
        <span>没有有评论</span>
    {% endif %}
{% endblock %}
{% block toc %}
    {% get_toc as tocs %}
    {% for toc in tocs %}
        <ul>
            <li><a href="{% url 'blog:post' toc.pk %}">{{ toc.blog_title }}</a></li>
            {% if toc.pk == blogs.pk %}
                {{ blogs.toc | safe }}
            {% endif %}
        </ul>
    {% endfor %}
{% endblock %}