{% extends 'template/base.html' %}
{% block main %}
    <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h4 class="blog-post-title"><a href="/blog/post/{{ blogs.pk }}">{{ blogs.blog_title }}</a></h4>
                    <p class="blog-post-meta">{{ blogs.created_time|date:"Y-m-d H:i:s" }}<a
                            href="/blog/user/{{ blogs.author }}">{{ blogs.author }}</a></p>
                    <p class="blog-post-content">{{ blogs.blog_content|safe }}</p>
                </div>
        </div>
{% endblock %}
{% block toc %}
    <h3 class="widget-title">文章目录</h3>
        <div class="widget widget-content">
        {{ blogs.toc|safe }}
    </div>
{% endblock %}