/*
 * Globals test
 */


* {
  font-family: "Microsoft YaHei", Times, serif;
  color: #555;
  list-style: none;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 5px;
  color: #cdddeb;
  line-height: 50px;
  font-size: 22px;
}
.blog-nav-item:hover, .blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px 0 15px 0;
}
/*
 * Blog posts
 */
.userinfo {
    color: #ffffff;
    line-height: 40px;
    margin-right: 50px;
    font-size: 20px;
}
.list-unstyled li{
    padding: 5px;
    display:inline-block;
}
.blog-post {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 1px 1px 2px #888888;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 28px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-post-meta a{
    margin-left: 20px;
}
/*
 * Footer
 */
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.rss {
    margin-top: 40px;
    padding: 5px;
}
span.highlighted {
    color: red;
}
.comment-list-chilren ul {
    padding-left: 0;
}
.comment-list-ul {
    padding: 0;
    line-height: 1.2em;
    font-size: 20px;
}
.comment-children-ul{
    padding-left: 60px;
    width: 100%;
}
.comment-list-li {
    padding-top: 10px;
}
.post-comment .post-comment-left img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
}
.hr-line{
    border: 0.5px solid #e0e0e0;
    margin:0;
}
.post-comment-left {
    float: left;
    width: 58px;
}
.post-comment-right{
    width: auto;
    height: auto;
    float: left;
    position: relative;
    margin-left: 6px;
}
.post-comment {
    width: 100%;
    float: left;
    margin-top: 10px;
}
.post-comment-title {
    font-size: 14px;
    line-height: 1.2em;
}
.post-comment-content {
    margin-top: 22px;
}
.post-comment-date {
    line-height: 12px;
    height: 14px;
    font-size: 12px;
    margin-top:8px ;
    margin-bottom: 18px;
}
.post-comment-rel{
    margin-left: 10px;
    border: 1px;
    line-height: 10px;
    height: 10px;
    font-size: 10px;
    color: #0000FF;
}
.comment-rel-form {
    display: none;
    float:left;
    width: 100%;
}
.cancel-comment{
    float: left;
}
.submit-comment {
    float: right;
}
.blog-nav-left{
    margin-left: 13%;
}
.blog-nav-right{
    float: right;
    margin-right: 10%;
}
.nav-right-form {
    display: inline-block;
    position: relative;
    top: 0.5em;
}
.nav-right-submit {
    position: absolute;
    right: 15px;
    border: none;
    height: 100%;
    background: none;
}
.back-to-top {
    position: fixed;
    bottom: 4em;
    right: 9.5em;
    opacity:0.8;
    text-align: center;
    padding: 8px 10px;
    color: #eee;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    z-index:9000;
    background: #343a40;
}
.blog-nav-user img{
    border-radius: 1.4em;
    width:2.8em;
    height: 2.8em;
}
.widget-title{
    padding-left: 20px;
}
.comment_count {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 1.5em;
    font-size: 18px;
    margin: 10px;}
.comment_count ul {
    padding-left: 20px;
}
.comment_count ul li{
    list-style: none;
    float: left;
    font-weight: 600;
    padding-right: 6px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.top-gap {
    margin-top: 26px;
    font-size: 16px;
    line-height: 1.2em;
}
.toc ul {
    padding: 0;
}
.toc>ul {
    padding-left:24px;
}
.toc li {
    margin-top: 5px;
}
.widget.widget-content a{
    color: #000;
    opacity:0.8;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
}
.widget.widget-content a:hover {
    color: #23527c;
}