{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<!-- head_start -->
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>style的博客</title>
    <link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap/3.3.7/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'editor/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlights/code.css' %}">
    <link href="{% static 'css/blog/blog.css' %}" rel="stylesheet"/>
</head>
<!-- head_end -->
<body>
<!-- /.container -->
<!-- /.container-nav -->
<div class="blog-masthead">
    <nav class="blog-nav">
        {% get_Category as Categorys %}
            <span class="blog-nav-left">
            <a class="blog-nav-item active" href="/blog">Home</a>
                {% for Category in Categorys %}
                    <a class="blog-nav-item" href="{% url 'blog:category' Category.pk %}">{{ Category }}</a>
                {% endfor %}
            </span>
            <span class="blog-nav-right">
                <form role="search" method="GET" action="{% url 'haystack_search' %}" class="nav-right-form">
                    <div class="col-xs-2">
                        <label for="q" class="sr-only">搜索</label>
                        <input type="search" name="q" placeholder="搜索" required>
                    </div>
                    <button type="submit" class="nav-right-submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
                {% if user.is_authenticated %}
                    <span class="blog-nav-user">
                        <img src="/upload/{{ user.user_icon }}">
                        <a class="blog-nav-item" href="javascript:;">{{ user.username }}</a>
                        <a class="blog-nav-item" href="{% url 'blog:logout' %}">登出</a>
                    </span>
                {% else %}
                    <span class="blog-nav-user">
                        <a class="blog-nav-item blog-nav-user" href="{% url 'blog:login' %}">登录</a>
                    </span>
                {% endif %}
            </span>
    </nav>
</div>
<!-- /.container-nav -->
<!-- /.container-full -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="widget-title">目录</h3>

            <div class="widget widget-content">
                {% block toc %}
                    {% get_toc as tocs %}
                    {% for toc in tocs %}
                        <ul>
                            <li><a href="{% url 'blog:post' toc.pk %}">{{ toc.blog_title }}</a></li>
                        </ul>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
        <div class="col-sm-7 blog-main">
            {% block main %}
            {% endblock %}
        </div>
        <div class="col-sm-2">
            <div class="sidebar-module">
                            <div class="rss">
                <a href="{% url 'rss' %}"><i class="fa fa-rss fa-2x">RSS订阅</i></a>
            </div>
                <ul>
                    <li>
                        <h4>Django学习小组 QQ 群</h4>
                            <p>
                                <a href="javascript:;">645793268</a></p>
                    </li>
                    <li>
                        <h4>友情链接</h4>

                        <p>
                            <a href="https://www.zmrenwu.com/">追梦人的博客</a>
                        </p>
                    </li>
                    <li>
                        <h4>源码分享地址</h4
                        <p>
                            <a style="display: block;width: 100%" href="https://github.com/styleolder/blog">https://github.com/styleolder/blog githubgithubgithubgithubgithubgithub</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="sidebar-module">
                <h4>归档文件</h4>
                {% archives as date_list %}
                <ul>
                    {% for date in date_list %}
                        <li>
                            <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }}
                                月</a>
                        </li>
                    {% empty %}
                        <small>暂无归档</small>
                    {% endfor %}
                </ul>
            </div>
            <div class="sidebar-module">
                <h4>标签</h4>
                {% get_tags as tags %}
                <ol class="list-unstyled">
                    {% for tag in tags %}
                        <li><a href="{% url 'blog:tags' tag.pk %}" class="btn btn-info" value="{{ tag }}">{{ tag }}</a>
                    {% empty %}
                        <small>暂无标签</small>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.container-full -->
<!-- /.container -->
<!-- /.footer -->
<footer class="blog-footer">
    <p>欢迎阅读 style 的博客空间 &copy; 2017
        <a href="#">style</a></p>

    <p>
        <a href="#">还没有备案号.谢谢支持</a>
    </p>
    <div class="back-to-top">
       <i style="color: #fff0f0" title="回到顶部" class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
    </div>
</footer>
<!-- /.footer -->
<!-- /.script -->
<script type="application/javascript" src="{% static 'js/jquery/2.1.4/jquery.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/bootstrap/3.3.7/bootstrap.min.js' %}"></script>
{% block footerscript %}
{% endblock %}
<!-- /.script -->
</body>
</html>