asn1crypto==0.24.0
attrs==17.3.0
Automat==0.6.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
connections==0.1.3
constantly==15.1.0
construct==2.5.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.1.4
cssselect==1.0.1
diff-match-patch==20121119
Django==1.11.28
django-allauth==0.32.0
django-anymail==0.11.1
django-appconf==1.0.2
django-braces==1.11.0
django-ckeditor==5.4.0
django-contrib-comments==1.8.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.8
django-filter==1.1.0
django-filters==0.2.1
django-formtools==2.1
django-guardian==1.4.9
django-haystack==2.7.0
django-imagekit==4.0.1
django-import-export==1.0.0
django-js-asset==1.0.0
django-model-utils==3.0.0
django-mptt==0.8.7
django-notifications-hq==1.2
django-pagedown==1.0.4
django-ranged-response==0.2.0
django-redis==4.9.0
django-reversion==2.0.13
django-simple-captcha==0.5.6
django-simple-serializer==2.0.7
django-sslserver==0.20
django-test-plus==1.0.18
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
DjangoUeditor==1.8.143
drf-extensions==0.3.1
EasyProcess==0.2.3
elasticsearch==6.2.0
elasticsearch-dsl==6.1.0
enum34==1.1.6
et-xmlfile==1.0.1
factory-boy==2.9.2
fake-useragent==0.1.10
Faker==0.8.11
Flask==0.12.2
future==0.16.0
geoip2==2.8.0
haystack==0.36
httplib2==0.11.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.19
itsdangerous==0.24
itypes==1.1.0
jdcal==1.3
jieba==0.39
Jinja2==2.10
jsonfield==2.0.2
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
maxminddb==1.3.0
mysqlclient==1.3.12
oauthlib==2.0.6
odfpy==1.3.6
olefile==0.45.1
openpyxl==2.5.1
parse==1.8.2
parsel==1.2.0
pefile==2017.11.5
pilkit==2.0
Pillow==5.0.0
psutil==5.4.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
PyJWT==1.6.1
PyMySQL==0.8.1
pyOpenSSL==17.5.0
pypiwin32==223
python-dateutil==2.6.1
python-openid==2.2.5
python-ptrace==0.9.3
pytz==2017.3
PyVirtualDisplay==0.2.1
pywin32==223
PyYAML==3.12
queuelib==1.4.2
redis==2.10.6
request==0.0.22
requests==2.18.4
requests-oauthlib==0.8.0
Scrapy==1.4.0
scrapy-fake-useragent==1.1.0
scrapy-redis==0.6.8
scrapyd==1.2.0
scrapyd-client==1.1.0
selenium==3.5.0
service-identity==17.0.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
sqlparse==0.2.4
tablib==0.12.1
text-unidecode==1.2
Twisted==17.9.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.2.0
vue==0.0.1
w3lib==1.18.0
Werkzeug==0.14.1
Whoosh==2.7.4
winappdbg==1.5
xlrd==1.1.0
XlsxWriter==1.0.2
xlwt==1.3.0
zope.interface==4.4.3
