{% load staticfiles %}
{% load blog_tags %}
<div class="post-comment" id="comment-{{ node.id }}">
    <div class="post-comment-left">
        <img src="/upload/{{ node.name.user_icon }}">
    </div>
    <div class="post-comment-right">
        <span class="post-comment-title">
                {% if node.parent %}
                    {% ifequal node.name blogs.author %}
                        {{ node.name }}<span class="blog-owner">[博主]</span><i class="fa fa-share"></i>
                        {{ node.parent.name }}
                    {% else %}
                        {{ node.name }}<i class="fa fa-share"></i>{{ node.parent.name }}
                    {% endifequal %}
                {% else %}
                    {% ifequal node.name blogs.author %}
                        {{ node.name }}<span class="blog-owner">[博主]</span>
                    {% else %}
                        {{ node.name }}
                    {% endifequal %}
                {% endif %}
        </span>

        <p class="post-comment-content">{{ node.text|markdown }}</p>

        <p class="post-comment-date">{{ node.created_time |timesince }}前
            <span class="post-comment-rel">
                <a href="javascript:;" class="comment-reply-btn">
                    <i class="fa fa-commenting-o">&nbsp;回复&nbsp;&nbsp;&nbsp;&nbsp;</i>
                </a>
                {% ifequal request.user node.name %}
                    <a href="javascript:;" class="{% url 'comments:remove_comment' node.id %}">
                        <i class="fa fa-trash-o comment-del-btn" aria-hidden="true">&nbsp;删除</i>
                    </a>
                {% endifequal %}
           </span>
        </p>
    </div>
    {% include 'blog/comment_edit.html' %}
</div>
<hr class="hr-line">