{% if user.is_authenticated %}
    <form action="{% url 'comments:reply_comment' node.id %}" class="comment-rel-form" method="POST">
        {% csrf_token %}
        <div class="comment-rel-edit"  id="my-edit">
            <textarea id="my-edit-markdown-doc" name="my-edit-markdown-doc"
                      style="display:none;"></textarea>
            <!-- 注意：name属性的值-->
            <textarea id="my-edit-html-code" name="my-edit-html-code" style="display:none;"></textarea>
            <input type="hidden" name="next" value="{{ request.path }}#comment-{{ node.id }}" />
        </div>
        <input type="button" value="取消" class="btn btn-info cancel-comment">
        <input type="submit" value="提交" class="btn btn-success submit-comment">
    </form>
{% else %}
<div class="comment-rel-form">
    <div id="myAlert" class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>&nbsp;抱歉&nbsp;</strong>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'blog:login' %}" style="color: red">只有登录以后,才能回复评论</a></span>
    </div>
</div>
{% endif %}