{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>style的博客</title>
    <link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/x-icon"/>
    <link href="{% static 'css/bootstrap/3.3.7/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/font-awesome/font-awesome.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/highlights/github.css' %}">
    <link href="{% static 'css/blog/blog.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            {% get_Category as Categorys %}
            <a class="blog-nav-item active navbar-left" href="/blog">Home</a>
            {% for Category in Categorys %}
                <a class="blog-nav-item" href="{% url 'blog:category' Category.pk %}">{{ Category }}</a>
            {% endfor %}
            {% if user.is_authenticated %}
                <form class="navbar-form navbar-right" method="POST" action="{% url 'blog:logout' %}">
                    <span class="userinfo">Welcome {{ user }}</span>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">logout</button>
                </form>
            {% else %}
                <form class="navbar-form navbar-right" method="POST" action="{% url 'blog:login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" placeholder="username" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            {% endif %}
        </nav>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            {% block toc %}
            {% endblock toc %}
        </div>
    <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                <input type="search" name="q" placeholder="搜索" required>
                <button type="submit"><span class="ion-ios-search-strong">搜索</span></button>
            </form>
        {% block main %}{% endblock %}
        <div class="col-sm-2">
            <div class="rss">
                <a href="{% url 'rss' %}"><i class="fa fa-rss fa-3x">RSS订阅</i></a>
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4>介绍信息</h4>

                <p>
                    <small>这是一个练习用的博客系统，目前有很多问题正在解决与完善</small>
                </p>
            </div>
            <div class="sidebar-module">
                <h4>归档文件</h4>
                {% archives as date_list %}
                <ul>
                    {% for date in date_list %}
                        <li>
                            <a href="{{ date }}">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                    {% empty %}
                        暂无归档！
                    {% endfor %}
                </ul>
            </div>
            <div class="sidebar-module">
                <h4>标签</h4>
                {% get_tags as tags %}
                <ol class="list-unstyled">
                    {% for tag in tags %}
                        <li><a href="{% url 'blog:tags' tag.pk %}" class="btn btn-info" value="{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<footer class="blog-footer">
    <p>欢迎阅读 style 的博客空间 &copy; 2017
        <a href="#">style</a></p>

    <p>
        <a href="#">还没有备案号.谢谢支持</a>
    </p>
</footer>
<script type="application/javascript" src="{% static 'js/jquery/2.1.4/jquery.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/bootstrap/3.3.7/bootstrap.min.js' %}"></script>
</body>
</html>