{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>style的博客</title>
    <link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/x-icon"/>
    <link href="{% static 'css/bootstrap/3.3.7/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
    <script type="application/javascript" src="{% static 'js/jquery/2.1.4/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bootstrap/3.3.7/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    {% block heaher %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        <footer>
            <p>Posted by: style</p>
            <p>Contact information: <a href="#">styleolder@github.com</a>.</p>
        </footer>
    {% endblock %}
</div>
</body>
</html>