/*
 * Globals
 */

body {
  font-family: "Microsoft YaHei", Times, serif;
  color: #555;
}
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 5px;
  color: #cdddeb;
  line-height: 50px;
  font-size: 22px;
}
.blog-nav-item:hover, .blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
/*
 * Blog posts
 */
.userinfo {
    color: #ffffff;
    line-height: 40px;
    margin-right: 50px;
    font-size: 20px;
}
.list-unstyled li{
    padding: 5px;
    display:inline-block;
}
.blog-post {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 1px 1px 2px #888888;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-post-meta a{
    margin-left: 20px;
}
/*
 * Footer
 */
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.rss {
    margin-top: 40px;
    padding: 5px;
}
span.highlighted {
    color: darkslategrey;
}